.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container__main {
  min-height: 100%;
  height: 100vh;
  position: relative;
}

@media (max-width: 767px) {
  .container__main {
    padding: 0 8px;
  }
}
