$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$white: #ffffff;
$black: #383736;
$grey: #989691;
$light-grey: #e5e5e5;
$red: #eb4b51;
$pale-red: #faf0f0;
$green: #64b851;
$pale-green: #f2faf0;
$charcoal: #c4c4c4;
$light-charcoal: #e7e4de;
$pale-charcoal: #f0eeeb;
$yellow: #fac62d;
$dark-yellow: #f0b505;
$very-dark-yellow: #e1ab08;
$pale-grey: #f5f4f2;
$blue: #2794db;
